@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* GENERAL */

.postCard {
    color: white;
    /*background-color: black;*/
    /*box-shadow: 0 4px 8px rgb(197, 197, 197);*/
    cursor: pointer;
    position: relative;
    text-align: left;
}

.card-large {
    border-radius: 0px 0px 0px 50px;
    height: 260px;
}

.card-medium {
    border-radius: 0px 0px 0px 35px;
    height: 130px;
}

.card-small {
    border-radius: 0px 0px 0px 20px;
    height: 130px;
}
/* ---------------------------------------------*/
/* FRONT Y REVERSE */

.front {
    padding: 0px 8px;
    height: 80%;
    overflow-y: auto; 
}

.reverse {
    padding: 2px 6px;
    height: 80%;
    display: none; 
    overflow-y: auto; 
}

.flipButton {
    position: absolute;
    bottom: 4px; /* Ajusta la distancia desde la parte inferior */
    right: 4px; /* Ajusta la distancia desde el borde derecho */
    color: white; /* Color del texto del botón */
    cursor: pointer;
}

/* ---------------------------------------------*/
/* TITULAR Y DATA */

.title a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* Orientación vertical */

}

.card-large a {
    font-size: 28px;
    -webkit-line-clamp: 5;
}

.card-medium a {
    font-size: 18px;
    -webkit-line-clamp: 4;
}

.card-small a {
    font-size: 15px;
    -webkit-line-clamp: 5;
}

/* ---------------------------------------------*/
/* FLIP CARD */

.reverse {
    display: none; 
    max-height: 230px; 
    overflow-y: auto; 
    font-size: 14px;
}

.flipped .front {
    display: none; /* Oculta el frente cuando la tarjeta está volteada */
}

.flipped .reverse {
    display: block; /* Muestra el dorso cuando la tarjeta está volteada */
}

/* ---------------------------------------------*/
/* TAMAÑO DE LAS CARDS */
.card-small {
    grid-column: span 1; /* Tamaño pequeño para la tarjeta */
    grid-row: span 1;
    /* Otros estilos para las tarjetas pequeñas */
}

.card-medium {
    grid-column: span 2; /* Tamaño mediano para la tarjeta */
    grid-row: span 1;
    /* Otros estilos para las tarjetas medianas */
}

.card-large {
    grid-column: span 2; /* Tamaño grande para la tarjeta */
    grid-row: span 2;
    /* Otros estilos para las tarjetas grandes */
}