@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* Estilo general */
.postCard {
    border-radius: 0px 0px 50px 0px;
    color: white;
    background-color: black;
    box-shadow: 0 4px 8px rgb(197, 197, 197);
    cursor: pointer;
    position: relative;
    text-align: left;
}

/* Estilo del Header */
.front {
    padding: 4px;
}
/* Estilo del Front */

.title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/* Front for size:*/
.card-large .title {
    height: 100%;
    font-size: 30px;
    overflow: hidden;
    
}

.card-medium .title {
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}
/* Estilo para el flip card */

.reverse {
    display: none; 
    max-height: 230px; 
    overflow-y: auto; 
    font-size: 14px;
}

.flipped .front {
    display: none; /* Oculta el frente cuando la tarjeta está volteada */
}

.flipped .reverse {
    display: block; /* Muestra el dorso cuando la tarjeta está volteada */
}





/* Cambia el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento vertical */
}

  /* Cambia el color del "pulgar" o la parte desplazable de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: gray; /* Cambia el color del pulgar */
    border-radius: 6px; /* Agrega bordes redondeados al pulgar */
}

.footer {
    position: absolute; /* Establece la posición absoluta en el footer */
    bottom: 0; /* Fija el footer en la parte inferior del componente */
    left: 0; /* Alinea el footer a la izquierda del componente */
    right: 0; /* Alinea el footer a la derecha del componente */
    display: flex;
    justify-content: space-between; /* Distribuye el espacio horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}

.date {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

.flipButton {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

.card-small {
    grid-column: span 1; /* Tamaño pequeño para la tarjeta */
    grid-row: span 1;
    /* Otros estilos para las tarjetas pequeñas */
}

.card-medium {
    grid-column: span 2; /* Tamaño mediano para la tarjeta */
    grid-row: span 1;
    /* Otros estilos para las tarjetas medianas */
}

.card-large {
    grid-column: span 2; /* Tamaño grande para la tarjeta */
    grid-row: span 2;
    /* Otros estilos para las tarjetas grandes */
}